body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#header {
  border: 0;
  width: 100%;
  margin: 0;
  padding: 15px;
  background-color: #4caf50;
  text-align: center;
}
#header-title {
  font-size: 30px;
  font-weight: bold;
}
.header-navigation {
  text-decoration: none;
  font-size: 25px;
  color: black;
}
.header-navigation:hover {
  font-weight: bold;
}
#header td {
  width: 12.5%;
  padding: 0;
  margin: 0;
}
#banner {
  background-color: black;
  padding: 20px 0;
  text-align: center;
}
#banner h3 {
  color: #ffffff;
}
#banner h2 {
  color: #4caf50;
}
hr {
  margin: 0;
  padding: 0;
  border: 2px solid white;
}
#about {
  width: 100%;
  background-color: black;
  padding: 0;
}
.dark-heading {
  background-color: black;
  color: #4caf50;
}
.light-heading {
  background-color: #c2c0c3;
  color: black;
}
.section-heading {
  text-align: center;
  font-size: 35px;
  text-decoration: underline;
  margin: 0;
  padding: 25px;
}
#section-pic {
  width: 75%;
  height: auto;
}
#about td:first-child {
  text-align: center;
  width: 40%;
  padding: 15px;
}
#about td:last-child {
  width: 60%;
}
.info-text {
  color: white;
  padding-right: 35px;
}
#projects {
  background-color: #c2c0c3;
}
#projects td:first-child {
  width: 55%;
}
#projects td:last-child {
  text-align: center;
  width: 45%;
  padding: 15px;
}
#projects-list {
  margin: 0;
  padding: 15px 125px;
  font-size: 20px;
  list-style-type: square;
}
#projects-list li {
  margin-bottom: 10px;
}
#projects-list a {
  color: black;
  text-decoration: none;
}
#projects-list a:hover {
  text-decoration: underline;
}
#goto-achievements {
  background-color: black;
  padding-bottom: 25px;
}
#achievements td:first-child {
  width: 45%;
  text-align: center;
  padding: 15px;
}
#achievements td:last-child {
  width: 55%;
}
#achievements-list {
  color: white;
  margin: 0;
  padding: 15px 125px;
  font-size: 20px;
  list-style-type: upper-roman;
}
#achievements-list > li {
  margin-bottom: 20px;
}
#achievements-table {
  background-color: black;
  color: white;
  text-align: center;
  width: 30%;
  margin: 30px auto 0;
}
#achievements-table,
#achievements-table th,
#achievements-table td {
  border: 2px solid white;
  border-collapse: collapse;
}
#achievements-table th,
#achievements-table td {
  padding: 10px;
}
#achievements-table tr:first-child {
  background-color: lightgreen;
  color: darkgreen;
}
#achievements-table tr:nth-child(even) {
  background-color: lightgray;
  color: black;
}
#contact {
  background-color: #c2c0c3;
  padding-bottom: 25px;
}
form {
  width: 50%;
  text-align: center;
  margin: 0 auto 0;
  background-color: black;
  color: white;
  font-size: 17.5px;
}
fieldset {
  margin: 0px 15px 20px;
}
fieldset > legend {
  font-size: 22.5px;
}
.input-box {
  padding: 5px;
  width: 50%;
}
.basic-label {
  display: inline-block;
  width: 20%;
  text-align: left;
}
.basic-input-box {
  display: inline-block;
  width: 70%;
  padding: 10px;
  font-size: 15px;
}
.adv-label {
  display: inline-block;
  width: 35%;
}
select {
  display: inline-block;
  width: 35%;
  padding: 10px;
  font-size: 15px;
}
textarea {
  padding: 10px;
  font-size: 15px;
}
.form-button {
  padding: 10px 20px;
  font-size: 15px;
  font-weight: bold;
}
.form-button[type="submit"]:hover {
  background-color: green;
}
.form-button[type="reset"]:hover {
  background-color: red;
}
#copyright {
  background-color: black;
  color: #4caf50;
  padding: 10px;
  font-size: medium;
}
#footer {
  background-color: #4caf50;
  width: 100%;
  text-align: center;
  padding: 10px 0;
}
#footer td {
  width: 20%;
  padding: 0;
  margin: 0;
}
#footer a {
  color: black;
  text-decoration: none;
}
#footer a:hover {
  text-decoration: underline;
}
